//style like longevity site
#site-header .utility-bar {
  .d-flex {
    @extend .container;
  }

  a, a i {
    &:hover {
      color: theme-color('secondary');
    }
  }

  .left {
    ul {
      margin-bottom: 0;
      margin-right: 1rem;
      list-style: none;
      padding-left: 0;

      li {
        display: inline-block;

        a {
          display: block;
          padding-right: 10px;


        }
      }
    }


  }

  .right {
    text-align: right;

    > a {
      display: inline-block;
    }
  }
}

@include media-breakpoint-down(md) {
  #site-header .utility-bar > div {
    justify-content: center !important;

    > div.left {
      display: none;
    }
  }

  .utility-bar .right {
    text-align: center;
  }
}

