.banner {
  position: relative;

  .scroll-down {
    position: absolute;
    bottom: -20px;
    left: 26%;
    color: #fff;
    background-color: theme-color("primary");
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom ease-in-out 0.2s;
    &:hover{
      bottom: -25px;
    }
  }

  .img-text__media {
    margin-left: -15px;
    margin-right: -15px;
  }

}

@media (min-width: 768px) {
  .banner {
    .img-text__content {
      text-align: right;
      font-size: 28px;
    }

    .img-text__media {
      margin-left: 0;
      margin-right: 0
    }

    .img-text__inner > :first-child {
      flex: 0 0 58%;
    }

    .img-text__inner > :last-child {
      flex: 0 0 42%;
    }

    .img-text__media {
      position: relative;
      overflow: hidden;

      &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 100px;
      }

      &:before {
        left: 15px;
        box-shadow: 30px 1px 16px -10px rgb(41, 186, 179) inset;
      }

      &:after {
        right: 0;
        box-shadow: -30px 1px 16px -10px #29bab3 inset;
      }
    }
  }
}
