#site-content > main > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-lg-blocks-slider):not(.is-style-wide),
.img-text.alignfull .img-text__inner {
  padding: 0;
  width: calc(100% - 2rem);
  @extend .container;
}

hr.lg {
  margin-top: $hr-margin-y * 3;
  margin-bottom: $hr-margin-y * 3;
}



.quote-icon {
  text-align: center;
  display: block;
  font-size: 1.3em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.wp-block-cover-image .wp-block-cover__inner-container, .wp-block-cover .wp-block-cover__inner-container {
  width: 100%;
}

.wp-block-button__link {
  text-decoration: underline;
}
