.curve-section {
  .container {
    max-width: 650px !important;
  }

  .quote, .wp-block-image, ol {
    max-width: 93%;
    margin-left: auto;
    margin-right: auto;
  }

  .quote {
    position: relative;
    padding-left: 2rem;

    &:before, &:after {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-size: 1.3em;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
    }

    &:before {
      content: "\f10d";
      position: absolute;
      left: 0;

    }

    &:after {
      content: "\f10e";
    }
  }

  .wp-block-image {
    text-align: right;
  }

  ol {
    counter-reset: listNumbering;
    list-style: none;
    padding-left: 0;

    li {
      padding-left: 50px;
      position: relative;
      counter-increment: listNumbering;
      margin-bottom: 30px;

      &:before {
        content: counter(listNumbering) '.';
        position: absolute;
        left: 0;
        top: -6px;
        font-size: 2em;
      }
    }

  }
}
