.accordion-header {
  background-color: theme-color("primary");
  color: #fff;
  margin-bottom: 0;

  h5 {
    color: #fff;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: normal;
  }
}

.accordion-collapse {
  background-color: #fff;
}

.accordion-body {
  padding-top: 1rem;
}

.wp-block-lg-blocks-accordion-item {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .accordion-header {
    padding: .8rem 5.2rem .8rem 3.2rem;
  }
}
