
.home-banner-form {
  background-color: #fff;
  max-width: 400px;
  padding: 1.5rem;
  border-top: 8px solid theme-color("primary");
  margin-left: auto;

  .gform_wrapper {


  }
}

.contact-form {
  max-width: 800px;
  border-top: 8px solid theme-color("primary");
}

@media only screen and (min-width: 641px) {
  .gform_wrapper textarea.large {
    max-height: 120px;

  }
}
