#site-header {
  .navbar {
    padding: 1rem 0;
    font-family: "Raleway", sans-serif;
  }

  .navbar-brand {
    max-width: 220px;
  }
}

#site-content {
  padding-top: 93px;
}

@media (min-width: 992px) {
  padding-top: 93px;
}
