.testimonials-group {
  text-align: center;
  max-width: 875px !important;
  margin-left: auto;
  margin-right: auto;

  .swiper-container {
    padding-bottom: 2rem;
    --swiper-pagination-color: var(--primary);
    --swiper-pagination-color: var(--primary);
  }
}
