.video-section {
  max-width: 1040px !important;
}

.more-sales {
  padding-right: 1rem;
  text-align: right;
  position: relative;
  display: flex;
  align-items: flex-end;

  &:before {
    content: "";
    display: block;
    border-bottom: 2px solid theme-color("primary");
    flex-grow: 1;
    margin-bottom: .5rem;
    margin-right: 1rem;
  }
}
