.what-you-get {
  > .wp-block-group__inner-container {
    > h2, > p {
      padding-left: 3.1rem;
    }

    > h2 {
      position: relative;

      &:before {
        content: "\f00c";
        @extend .fas;
        position: absolute;
        left: 0;
        font-size: 1.8em;

      }
    }
  }

  .bonus {
    position: relative;
    align-items: flex-start;
    display: flex;

    &:before, &:after {
      content: "";
      flex: 0 0 80px;
      width: 80px;
      height: 80px;
      line-height: 80px;

    }

    &:before {
      margin-right: 20px;
      background-image: url("/wp-content/uploads/2021/01/bonus-icon.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      animation: rotate 10s linear infinite;
    }

    &:after {
      content: "BONUS";
      top: 0;
      left: 0;
      position: absolute;
      text-align: center;
      color: #fff;
      font-style: italic;
    }
  }
}

.price-off {
 font-family: "Lato", sans-serif;
}

.green-text-big {
  font-size: 1.4rem;
}

@include media-breakpoint-up(lg) {
  .what-you-get {
    > .wp-block-group__inner-container {
      > h2, > p {
        padding-left: 5rem;
      }

      > h2 {

        &:before {
          font-size: 2em;
        }
      }
    }

    .bonus {
      &:before, &:after {
        flex: 0 0 120px;
        width: 120px;
        height: 120px;
        line-height: 120px;
      }
    }
  }

  .green-text-big {
    font-size: 1.5rem;
    padding-left: 140px !important;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
