.why-choose-us {
  h3 {
    font-size: 1rem;
    font-weight: normal;
    font-family: "Lato", sans-serif;
  }

  .wp-block-columns .wp-block-columns {
    p {
      font-size: .8rem;
    }
  }
}

@media (max-width: 781px) and (min-width: 600px) {
  .why-choose-us {
    .wp-block-group__inner-container {
      > .wp-block-columns {
        > .wp-block-column {
          flex-basis: 100% !important;
          margin-left: 0;

          > .wp-block-columns {
            > .wp-block-column:first-child {
              flex-basis: calc(20% - 16px) !important
            }

            > .wp-block-column:last-child {
              flex-basis: calc(80% - 16px) !important;

            }
          }
        }
      }
    }
  }
}
